<% title "我的维基"  %>
<table class="columns" >
  <tr>
    <td>
      <h3>最新词条</h3>
      <ul class="poker">
        <% @lemmas = Lemma.latest.each do |lemma| %>
          <li><%= link_to lemma.title,lemma %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <h3>热门词条</h3>
      <ul class="poker">
        <% @lemmas = Lemma.hot.each do |lemma| %>
          <li><%= link_to lemma.title+ "(点击数：#{lemma.hits})",lemma %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <h3>高分词条</h3>
      <ul class="poker">
        <% @lemmas = Lemma.reward.each do |lemma| %>
          <li><%= link_to lemma.title+ "(悬赏分：#{lemma.point})" ,lemma %></li>
        <% end %>
      </ul>
    </td>
    <td>
      <h3>贡献排行榜</h3>
      <ul class="poker">
        <% @user = User.worthy.each do |fbplayer| %>
          <li>
            <span title="得分：<%= fbplayer.point %>">
              <%=link_to_if((permitted_to? :read_show, fbplayer ), fbplayer.login,fbplayer,:class => "myself") %>
            </span>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<hr />
 <div>
  <%= tag_cloud @tags %>
</div>
<%= link_to '新建词条 ', new_lemma_path if permitted_to? :create, :lemmas  %>
<% keywords @tags.to_sentence  %>
<% description "RailsKiller fireflyman， rails版的微型维基" %>