<h3><%=h @lemma.title %></h3>
 
<%=simple_format @lemma.body %>
 <% seo_meta @lemma %>
<% unless @lemma.contains?(current_user) %>
  <% form_for [@lemma,Coauthor.new] do |f| %>
    <%= f.submit "申请成为此词条的共同创作者" %>
  <% end %>
<% end %>
<hr />
<p>
  <span style="font-weight: bold"> 共同创作者:</span><br/>
  <% @lemma.coauthors.each do |coauthor| %>
    <%= coauthor.user.login if coauthor.active? %>
  <% end %>
</p>

<div style="border-bottom:1px solid #66EC20">
  <span style="font-weight: bold"> 你可以感兴趣的标签:</span><br/>
  <% @related_tags.each do |tag| %>
    <%= link_to tag.name, { :action => :tag, :id => tag.name } %>
  <% end %>
</div>

<%= javascript_include_tag :defaults %>
<div>
  <p style="font-weight: bold"> 开放分类:</p>
  <p>
    <span id="<%= dom_id @lemma %>_tags"><%= tag_cloud @tags %></span>
    <%= link_to_remote "添加标签", :url => add_tag_lemma_url(@lemma),
      :method => 'put',
      :before => "$tag = prompt('输入要添加的标签，多个标签请用英文逗号隔开！')",
      :with => "'tag=' + $tag",
      :html => {:class => "adjust_tag"}
  %>
    <%= link_to_remote "删除标签", :url => remove_tag_lemma_url(@lemma),
      :method => 'delete',
      :before => "$tag = prompt('输入要删除的标签，多个标签请用英文逗号隔开！')",
      :with => "'tag=' + $tag",
      :html => {:class => "adjust_tag"}
  %>
  </p>
</div>

 
 
<% if @lemma.contains?(current_user) %>
  <%= link_to '编辑该词条', [:edit,@lemma] %>
<% end %>
<%= link_to '回到首页 ', lemmas_path %>