<h1>Editing ct</h1>

<% form_for(@ct) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ct %> |
<%= link_to 'Back', cts_path %>